<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
	
	<?php $this->load->view('admin/public_css.html');?>
	
</head>

<body>
    <div id="wrapper">
    
	<?php $this->load->view('admin/public_top.html');?>
	<?php $this->load->view('admin/public_side.html');?>
	
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            用户分析 <small>用户流量</small>
                        </h1>
						<ol class="breadcrumb">
						  <li><a href="#">用户</a></li>
						  <li><a href="#">来源</a></li>
						  <li class="active">数据</li>
						</ol>
                    </div>
                </div>
				
				
                <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-green green">
                            <div class="panel-left pull-left green">
                                <i class="fa fa-bar-chart-o fa-5x"></i>
                                
                            </div>
                            <div class="panel-right pull-right">
								<h3><?=$log_count?></h3>
                               <strong> 用户流量</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                                    <div class="col-md-8 col-sm-12 col-xs-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Responsive Table Example
                            </div> 
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>国家</th>
                                                <th>省份</th>
                                                <th>城市</th>
                                                <th>IP</th>
                                                <th>时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	<?php foreach($user_new as $_user):?>
	                                            <tr>
	                                                <td><?=$_user->country?></td>
	                                                <td><?=$_user->province?></td>
	                                                <td><?=$_user->city?></td>
	                                                <td><?=$_user->ip?></td>
	                                                <td><?=$_user->time?></td>
	                                            </tr>
                                            <?php endforeach;?>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
				
			
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Chrome</h4>
						<div class="easypiechart" id="easypiechart-blue" data-percent="<?=$browser['chrome']/$log_count*100?>" ><span class="percent"><?=$browser['chrome']/$log_count*100?>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Opera</h4>
						<div class="easypiechart" id="easypiechart-orange" data-percent="<?=$browser['opera']/$log_count*100?>" ><span class="percent"><?=$browser['opera']/$log_count*100?>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Firefox</h4>
						<div class="easypiechart" id="easypiechart-teal" data-percent="<?=$browser['firefox']/$log_count*100?>" ><span class="percent"><?=$browser['firefox']/$log_count*100?>%</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>IE & Other</h4>
						<div class="easypiechart" id="easypiechart-red" data-percent="<?=$browser['ie']/$log_count*100?>" ><span class="percent"><?=$browser['ie']/$log_count*100?>%</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.row-->
			
				
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Tasks Panel
                            </div>
                            <div class="panel-body">
                                <div class="list-group">

                                    <a href="#" class="list-group-item">
                                        <span class="badge">7 minutes ago</span>
                                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">16 minutes ago</span>
                                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">36 minutes ago</span>
                                        <i class="fa fa-fw fa-globe"></i> Invoice 653 has paid
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has been added
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1.23 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has added
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">yesterday</span>
                                        <i class="fa fa-fw fa-globe"></i> Saved the world
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">More Tasks <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>

                <!-- /. ROW  -->
				
            </div>
            <footer style="text-align: center;"><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></footer>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
   	<?php $this->load->view('admin/public_js.html');?>

    <!-- Morris Chart Js -->
    <script src="https://cdn.bootcss.com/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdn.bootcss.com/morris.js/0.5.1/morris.js"></script>
	
	
	<script src="http://<?php echo base_url()?>/static/assets/js/easypiechart.js"></script>
	<script src="http://<?php echo base_url()?>/static/assets/js/easypiechart-data.js"></script>
	
	

	
	



</body>

</html>