<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<?php $this->load->view('admin/public_css.html');?>

</head>
<body>
    <div id="wrapper">
    
   	<?php $this->load->view('admin/public_top.html');?>
	<?php $this->load->view('admin/public_side.html');?>
		
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Link <small>修改链接</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             添加链接
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <form role="form" action="http://<?=site_url('admin/link/link_update')?>" method="post">
                                
                                    <div class="form-group has-success">
                                        <label class="control-label" for="inputSuccess">名称</label>
                                        <input type="text" style="width:30%" class="form-control" id="inputSuccess" name="title" value="<?=$link_edit['title']?>">
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="control-label" for="inputSuccess">链接</label>
                                        <input type="text" style="width:30%" class="form-control" id="inputSuccess" name="url" value="<?=$link_edit['url']?>">
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="control-label" for="inputSuccess">排序</label>
                                        <input type="text" style="width:30%" class="form-control" id="inputSuccess" name="sort" value="<?=$link_edit['sort']?>">
                                    </div>
                                    <div class="form-group">
	                                    <label>链接分类</label>
	                                    <select class="form-control" style="width:30%" name="pid">
	                                    	<?php foreach($cate_list as $_k => $_v):?>
	                                    		<option <?php if($link_edit['pid'] == $_v->id){echo "selected";}?> value="<?=$_v->id?>"><?=$_v->title?></option>
	                                    	<?php endforeach;?>
	                                    </select>
                                    </div>
                                    <div class="form-group">
	                                    <label>链接详情</label>
	                                    <textarea class="form-control" rows="5" name="desc"><?=$link_edit['desc']?></textarea>
                                    </div>
                                    <input type="submit" class="btn btn-info" value="提交" />
                                </form>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->
        </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></footer>
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
   	<?php $this->load->view('admin/public_js.html');?>

     <!-- DATA TABLE SCRIPTS -->
    <script src="http://<?php echo base_url()?>/static/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="http://<?php echo base_url()?>/static/assets/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>

    
   
</body>
</html>
