<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<?php $this->load->view('admin/public_css.html');?>

</head>
<body>
    <div id="wrapper">
    
   	<?php $this->load->view('admin/public_top.html');?>
	<?php $this->load->view('admin/public_side.html');?>
		
        <div id="page-wrapper" >
            <div id="page-inner">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Log <small>管理员日志</small>
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Advanced Tables
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>IP</th>
                                            <th>用户名</th>
                                            <th>密码</th>
                                            <th>登录类型</th>
                                            <th>登陆时间</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<?php foreach($log_list as $_k => $_v):?>
	                                        <tr class="odd gradeX <?php if($_k%3 == 1){echo 'success';}elseif($_k%3 == 2){echo 'info';}else{echo 'warning';}?>">
	                                            <td><?=$_v->id?></td>
	                                            <td><?=$_v->ip?></td>
	                                            <td><?=$_v->username?></td>
	                                            <td><?=$_v->password?></td>
	                                            <td><?php if($_v->type == 1){echo '<span class="btn btn-success">成功</span>';}else{echo '<span class="btn btn-danger">失败</span>';}?></td>
	                                            <td><?=$_v->time?></td>
	                                        </tr>
                                    	<?php endforeach;?>

                                    </tbody>
                                </table>
                            </div>
                            <?php echo $page; //输出分页信息 ?>  
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->
        </div>
               <footer><p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p></footer>
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
   	<?php $this->load->view('admin/public_js.html');?>

     <!-- DATA TABLE SCRIPTS -->
    <script src="http://<?php echo base_url()?>/static/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="http://<?php echo base_url()?>/static/assets/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>

    
   
</body>
</html>
