<nav class="navbar-default navbar-side" role="navigation">
		<div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu" href="http://<?=site_url('admin/admin/index')?>"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> 管理员信息<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="http://<?=site_url('admin/user/admin')?>">管理员列表</a>
                            </li>
                            <li>
                                <a href="#">管理员日志</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://<?=site_url('admin/admin/cate')?>"><i class="fa fa-desktop"></i> 网站分类</a>
                    </li>
                    <li>
                        <a href="http://<?=site_url('admin/admin/link')?>"><i class="fa fa-link"></i> 链接详情</a>
                    </li>
					<li>
                        <a href="http://<?=site_url('admin/admin/charts')?>"><i class="fa fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="http://<?=site_url('admin/admin/tabs')?>"><i class="fa fa-qrcode"></i> Tabs & Panels</a>
                    </li>
                    
                    <li>
                        <a href="http://<?=site_url('admin/admin/table')?>"><i class="fa fa-table"></i> Responsive Tables</a>
                    </li>
                    <li>
                        <a href="http://<?=site_url('admin/admin/form')?>"><i class="fa fa-edit"></i> Forms </a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://<?=site_url('admin/admin/empti')?>"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->